# Observability/kibana/values.yaml

replicaCount: 1

resources:
  requests:
    cpu: "100m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

elasticsearchHosts: "http://elasticsearch-master:9200"

service:
  type: NodePort
  nodePort: 30601
  port: 5601
