apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "fullname" . }}-config
data:
  prometheus.yml: |-
    global:
      scrape_interval: 15s
    scrape_configs:
{{- range .Values.scrape_configs }}
      - job_name: '{{ .job_name }}'
{{- if .metrics_path }}
        metrics_path: '{{ .metrics_path }}'
{{- end }}
        static_configs:
{{- range .static_configs }}
          - targets:
{{- range .targets }}
              - '{{ . }}'
{{- end }}
{{- end }}
{{- end }}
