replicaCount: 1

image:
  repository: silviut/oopapp
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 38080
  nodePort: 31080

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi
