apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "otel-collector.fullname" . }}
  labels:
    app: {{ include "otel-collector.name" . }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "otel-collector.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "otel-collector.name" . }}
    spec:
      containers:
        - name: otel-collector
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - "--config=/etc/otel/config.yaml"
          ports:
            - containerPort: 4317
            - containerPort: 4318
            - containerPort: 9464
          volumeMounts:
            - name: config
              mountPath: /etc/otel
              readOnly: true
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: {{ include "otel-collector.fullname" . }}-config
