apiVersion: v1
kind: Service
metadata:
  name: {{ include "otel-collector.fullname" . }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
    - name: prometheus
      port: 9464
      targetPort: 9464
  selector:
    app: {{ include "otel-collector.name" . }}
