replicaCount: 1

image:
  repository: prom/prometheus
  tag: v2.47.0
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 9090
  nodePort: 30900

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'oopApp'
    static_configs:
      - targets: ['oopapp:38080']

  - job_name: 'otel-collector'
    static_configs:
      - targets: ['otel-collector-otel-collector:9464']

